/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

#mission {
  padding: 12rem 0;
}

.iphone-selector,
.signup-button {
  margin-left: 3.5rem;
}

#testimonial .portrait {
  width: 16rem;
}
