/*
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	html, body {
		min-width: 320px;
	}

	body, input, select, textarea {
		font-size: 12pt;
	}

	header.major h2 {
		font-size: 2rem;
		margin-bottom: 1em;
	}

/* List */

	ul.actions {
		margin: 0 0 2em 0;
	}

		ul.actions li {
			padding: 1em 0 0 0;
			display: block;
			text-align: center;
			width: 100%;
		}

			ul.actions li:first-child {
				padding-top: 0;
			}

			ul.actions li > * {
				width: 100%;
				margin: 0 !important;
			}

				ul.actions li > *.icon:before {
					margin-left: -2em;
				}

		ul.actions.small li {
			padding: 0.5em 0 0 0;
		}

			ul.actions.small li:first-child {
				padding-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		padding: 0;
	}

#bannergreen h2 {
	height: 18rem;
}

/* Others */
#header .inner {
	margin: 0 auto;
	padding: 2rem 0;
	width: 90%;
}
#banner .inner {
	background: none;
	padding: 15rem 0 5rem 0;
}

#mission {
  background: url('../img/mission/network-small.png') no-repeat bottom left;
	background-size: 50rem;
	padding: 3rem 0 30rem 0;
}

#features .feature.big .icon img,
#features .feature.small .icon img {
	width: 8rem;
}

#features .feature p.type {
	margin: 0;
}

#benefits .container {
	background-size: 30rem;
	padding: 3rem 0 50rem 0;
}

#testimonial {
	padding: 3rem 0;
}

#testimonial .portraits {
	margin-bottom: 3rem;
}
#testimonial .portrait {
	width: 30%;
}

#get-started .inner {
	width: 90%;
}

#get-started a {
	text-align: center;
}
#get-started p {
	line-height: 1.5em;
}

#newsletter .container {
	background: url('../img/newsletter/background.png') no-repeat bottom center;
	background-size: 50rem;
	padding: 3rem 0 20rem 0;
}
#newsletter .btn-alert {
	margin-top: 1rem;
	width: 100%;
}

#footer {
	padding: 0;
}

#footer .icons {
	margin-top: 2rem;
}

div.pricing .plan.feature section:nth-child(2) ul.features {
	margin: 2rem 0;
}

.placeholder {
	margin: 1em 0;
}

.iphone-selector {
	display: none;
}
.signup-button {
	display:none;
}

.iphone {
    margin-left: -7rem;
    margin-bottom: -9em;
}

/* Tabs */

    #generic-tabs h1 {
        font-size: 1.4em;
    }
    #generic-tabs h2 {
        font-size: 1.4em;
    }
    #generic-tabs h1.callout {
        font-size: 2em;
    }
    #generic-tabs ul li a {
        font-size: 1.6em;
        padding: 1.2em .2em;
    }

.gallery .item .quote {
    font-size: 1.4em;
}
.gallery .item p {
    font-size: 1.2em;
    margin-left: 1em;
}
.freeprice{
    font-size: 1em !important;
}
.centerer {
    margin-top: 0em;
}
