@import 'colors.less';

.btn(@color) {
  background: darken(@color, 5%);
  border: none;
  border-radius: 0.3rem;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8em 2.5em;
  text-transform: uppercase;
  transition: all 0.15s ease;

  &:active {
    background: darken(@color, 5%);
  }

  &:disabled {
    background: lighten(@color, 15%);
    pointer-events: none;
  }

  &:focus {
    background: darken(@color, 5%);
    color: #fff;
    outline: none;
  }

  &:hover {
    background: lighten(@color, 5%);
    color: #fff;
    text-decoration: none;
  }

  &.big {
    padding: 1.1em 3em;
  }

  &.block {
    display: block;
    padding: 1.2rem 4rem;
    width: 100%;
  }

  &.dimmed {
    background: lighten(@color, 5%);

    &:hover {
      background: darken(@color, 5%);
    }
  }

  &.outline {
    .btn-outline(@color);
  }

  &.small {
    font-size: 1rem;
    padding: 0.8rem 1.4rem 0.7rem 1.4rem;
  }

  .sub {
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}

.btn-outline(@color) {
  background: transparent;
  box-shadow: inset 0 0 0 2px darken(@tpgl-blue, 5%);
  color: darken(@tpgl-blue, 5%);

  &:hover {
    color: #fff;
    background: darken(@color, 5%);
    box-shadow: inset 0 0 0 2px darken(@color, 5%);
  }

  &.small {
    box-shadow: inset 0 0 0 1px darken(@tpgl-blue, 5%);

    &:hover {
      box-shadow: inset 0 0 0 1px darken(@color, 5%);
    }
  }
}

.btn-alert {
  .btn(@tpgl-red);
}

.btn-close {
  .btn(@tpgl-brown);
}

.btn-default {
  .btn(@tpgl-blue);
}

.btn-secondary {
  .btn(@tpgl-grey);
}

.btn-success {
  .btn(@tpgl-green);
}
